<!-- Modal -->
<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{global.category}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body tab-content py-4">
                <form id="category-info-frm" class="needs-validation">
                    <div class="mb-3">
                        <label for="name-vi" class="form-label" th:text="#{global.name}+' - VI'"></label>
                        <input class="form-control" type="text" id="name-vi" required>
                        <div class="invalid-tooltip" th:text="#{NotBlank.field}"></div>
                    </div>
                    <div class="mb-3">
                        <label for="name-en" class="form-label" th:text="#{global.name}+' - EN'"></label>
                        <input class="form-control" type="text" id="name-en" onkeyup="autoSlug('name-en', 'slug')"
                               required>
                        <div class="invalid-tooltip" th:text="#{NotBlank.field}"></div>
                    </div>
                    <div class="mb-3">
                        <label for="slug" class="form-label">Slug</label>
                        <input class="form-control" type="text" id="slug" required>
                        <div class="invalid-tooltip" th:text="#{NotBlank.field}"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer btn-group">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"
                        th:text="#{global.close}"></button>
                <button type="submit" class="btn btn-primary btn-sm" id="btn-submit" form="category-info-frm"
                        th:text="#{global.save}"></button>
            </div>
        </div>
    </div>
</div>
<!-- Title-->
<div class="d-sm-flex flex-wrap justify-content-between align-items-center border-bottom pb-4 mb-4">
    <h2 class="h3 m-0 text-center text-sm-start">
        <span th:text="#{admin.categoryPage.title}"></span><span
            class="badge bg-faded-accent fs-sm text-body align-middle ms-2" th:text="${categories.size()}"></span>
    </h2>
    <div data-bs-toggle="tooltip" data-bs-placement="left" th:title="#{global.add_category}">
        <a class="link-success" href="javascript:void(0)" data-bs-toggle="modal" th:onclick="newCategory()"
           data-bs-target="#categoryModal">
            <i class="fs-2 fa-regular fa-circle-plus"></i>
        </a>
    </div>
</div>
<!-- Color borders on tables -->
<div class="table-responsive">
    <table class="table border-danger" id="catalog-table">
        <thead>
        <tr>
            <th>#</th>
            <th th:text="#{global.name}"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category,state:${categories}" th:object="${category}">
            <th class="align-middle" scope="row" th:text="${state.index+1}"></th>
            <td class="align-middle" th:text="*{#locale.language=='vi'}?*{nameVI}:*{nameEN}"></td>
            <td class="align-middle fs-5">
                <div class="d-flex justify-content-center">
                    <a class="link-info me-2" href="javascript:void(0)" data-bs-toggle="modal"
                       data-bs-target="#categoryModal"
                       th:onclick="getCategory([[${category.slug}]])">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                    <a class="link-danger" href="#" th:onclick="removeCategory([[${category.slug}]])">
                        <i class="fa-regular fa-circle-minus"></i>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>