<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/index-admin::main-fragment(title=~{::title}, content=~{::#content})}">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
<div id="content">
    <!-- Title-->
    <div class="d-sm-flex flex-wrap justify-content-between align-items-center border-bottom pb-4 mb-4">
        <h2 class="h3 m-0 text-center text-sm-start">
            <span th:text="#{admin.discountPage.title}"></span><span
                class="badge bg-faded-accent fs-sm text-body align-middle ms-2" th:text="${discounts.size()}"></span>
        </h2>
        <div data-bs-toggle="tooltip" data-bs-placement="left" th:title="#{admin.discountPage.addPromotion}">
            <a class="link-success" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#promotionModal">
                <i class="fs-2 fa-regular fa-circle-plus"></i>
            </a>
        </div>
    </div>
    <!-- Color borders on tables -->
    <div class="table-responsive">
        <table class="table border-danger" id="discount-table">
            <thead>
            <tr>
                <th>#</th>
                <th th:text="#{admin.discountPage.programName}"></th>
                <th class="align-middle text-center" th:text="#{admin.discountPage.startDate}"></th>
                <th class="align-middle text-center" th:text="#{admin.discountPage.endDate}"></th>
                <th class="align-middle text-center" th:text="#{admin.discountPage.saleOff}"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="discount,state:${discounts}" th:object="${discount}">
                <td class="align-middle text-center" th:text="${state.index} + 1"></td>
                <td class="align-middle text-center" th:text="*{name}"></td>
                <td class="align-middle text-center" th:text="*{#dates.format(startDate,'dd-MM-yyyy')}"></td>
                <td class="align-middle text-center" th:text="*{#dates.format(endDate,'dd-MM-yyyy')}"></td>
                <td class="align-middle text-center">
                    <span class="badge bg-danger rounded-pill"
                          th:text="*{#numbers.formatInteger(saleOff,0,'NONE')+'%'}"></span>
                </td>
                <td class="align-middle text-center">
                    <div class="d-flex justify-content-center">
                        <a class="btn bg-faded-accent btn-icon me-2" href="javascript:void(0)"
                           data-bs-toggle="modal" th:attr="data-bs-target='#promotionModal'+*{id}">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                        <a class="btn bg-faded-danger btn-icon" href="javascript:void(0)"
                           th:onclick="removeDiscount([[*{id}]])">
                            <i class="fa-regular fa-circle-minus"></i>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="promotionModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{global.promotion}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body tab-content py-4">
                    <form id="new-promotion-frm" class="promotion-form needs-validation" novalidate>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label for="name" class="form-label"
                                       th:text="#{admin.discountPage.programName}"></label>
                                <input class="form-control" type="text" id="name" name="name" required>
                                <div class="invalid-tooltip" th:text="#{NotBlank.field}"></div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="saleOff" class="form-label" th:text="#{admin.discountPage.saleOff}"></label>
                                <div class="input-group">
                                    <input class="form-control" type="text" id="saleOff" name="saleOff" required>
                                    <span class="input-group-text"><i class="ci-percent"></i></span>
                                </div>
                                <div class="invalid-tooltip" th:text="#{NotBlank.field}"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <!-- Date picker -->
                                <label class="form-label" th:text="#{admin.discountPage.startDate}"></label>
                                <div class="input-group">
                                    <input class="form-control date-picker rounded pe-5" type="text"
                                           placeholder="dd/mm/yyyy"
                                           data-datepicker-options='{"altInput": true, "altFormat": "d/m/Y", "dateFormat": "d/m/Y"}'
                                           name="startDate">
                                    <i class="fi-calendar position-absolute top-50 end-0 translate-middle-y me-3"></i>
                                </div>
                                <div class="invalid-tooltip" th:text="#{NotBlank.field}"></div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <!-- Date picker -->
                                <label class="form-label" th:text="#{admin.discountPage.startDate}"></label>
                                <div class="input-group">
                                    <input class="form-control date-picker rounded pe-5" type="text"
                                           placeholder="dd/mm/yyyy"
                                           data-datepicker-options='{"altInput": true, "altFormat": "d/m/Y", "dateFormat": "d/m/Y"}'
                                           name="endDate" c>
                                    <i class="fi-calendar position-absolute top-50 end-0 translate-middle-y me-3"></i>
                                </div>
                                <div class="invalid-tooltip" th:text="#{NotBlank.field}"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer btn-group">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"
                            th:text="#{global.close}"></button>
                    <button type="submit" class="btn btn-primary btn-sm" id="add-submit-btn" form="new-promotion-frm"
                            th:text="#{global.save}"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" th:id="'promotionModal'+${discount.id}" tabindex="-1" role="dialog"
         th:each="discount:${discounts}" th:object="${discount}">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{global.promotion}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body tab-content py-4">
                    <form th:id="'edit-promotion-frm-'+*{id}" class="promotion-form needs-validation">
                        <input type="hidden" name="id" th:value="*{id}">
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label th:for="'name-'+*{id}" class="form-label"
                                       th:text="#{admin.discountPage.programName}"></label>
                                <input class="form-control" type="text" th:id="'name-'+*{id}"
                                       th:value="*{name}" name="name" required>
                                <div class="invalid-tooltip" th:text="#{NotBlank.field}"></div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label th:for="'saleOff-'+*{id}" class="form-label"
                                       th:text="#{admin.discountPage.saleOff}"></label>
                                <div class="input-group">
                                    <input class="form-control" type="text" th:id="'saleOff-'+*{id}"
                                           th:value="*{#numbers.formatInteger(saleOff,0,'NONE')}"
                                           name="saleOff" required>
                                    <span class="input-group-text"><i class="ci-percent"></i></span>
                                </div>
                                <div class="invalid-tooltip" th:text="#{NotBlank.field}"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <!-- Date picker -->
                                <label class="form-label" th:text="#{admin.discountPage.startDate}"></label>
                                <div class="input-group">
                                    <input class="form-control date-picker rounded pe-5" type="text"
                                           placeholder="dd/mm/yyyy"
                                           data-datepicker-options='{"altInput": true, "altFormat": "d/m/Y", "dateFormat": "d/m/Y"}'
                                           th:value="*{#dates.format(startDate,'dd/MM/yyyy')}"
                                           name="startDate" required>
                                    <i class="fi-calendar position-absolute top-50 end-0 translate-middle-y me-3"></i>
                                </div>
                                <div class="invalid-tooltip" th:text="#{NotBlank.field}"></div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <!-- Date picker -->
                                <label class="form-label" th:text="#{admin.discountPage.endDate}"></label>
                                <div class="input-group">
                                    <input class="form-control date-picker rounded pe-5" type="text"
                                           placeholder="dd/mm/yyyy"
                                           data-datepicker-options='{"altInput": true, "altFormat": "d/m/Y", "dateFormat": "d/m/Y"}'
                                           th:value="*{#dates.format(endDate,'dd/MM/yyyy')}"
                                           name="endDate" required>
                                    <i class="fi-calendar position-absolute top-50 end-0 translate-middle-y me-3"></i>
                                </div>
                                <div class="invalid-tooltip" th:text="#{NotBlank.field}"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer btn-group">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"
                            th:text="#{global.close}"></button>
                    <button type="submit" class="btn btn-primary btn-sm" id="edit-submit-btn"
                            th:form="'edit-promotion-frm-'+*{id}" th:text="#{global.save}">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>