<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/admin::main-fragment(title=~{::title}, content=~{::#content})}">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
<div id="content">
    <!-- Title-->
    <div class="d-sm-flex flex-wrap justify-content-between align-items-center border-bottom pb-4 mb-4">
        <h2 class="h3 m-0 text-center text-sm-start">
            <span th:text="#{admin.userPage.title}"></span><span
                class="badge bg-faded-accent fs-sm text-body align-middle ms-2" th:text="${users.size()}"></span>
        </h2>
        <div data-bs-toggle="tooltip" data-bs-placement="left" th:title="#{admin.userPage.add}">
            <a class="link-success" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#user-modal">
                <i class="fs-2 fa-regular fa-circle-plus"></i>
            </a>
        </div>
    </div>
    <!-- Table -->
    <div class="table-responsive">
        <table class="table border-danger" id="user-manager-table">
            <thead>
            <tr>
                <th>#</th>
                <th th:text="#{global.avatar}"></th>
                <th th:text="#{global.full_name}"></th>
                <th th:text="#{global.username}"></th>
                <th th:text="#{global.email}"></th>
                <th class="text-center" th:text="#{global.role}"></th>
                <th class="text-center" th:text="#{global.activated}"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user,state:${users}" th:object="${user}">
                <th class="align-middle" scope="row" th:text="${state.index + 1}"></th>
                <td class="align-middle">
                    <img class="img-fluid rounded-circle"
                         th:src="@{'/assets/user/img/avatar/'+*{#objects.nullSafe(photo, 'default.png')}}"
                         style="width: 70px" th:alt="*{fullname}">
                </td>
                <td class="align-middle" th:text="*{fullname}"></td>
                <td class="align-middle" th:text="*{username}"></td>
                <td class="align-middle" th:text="*{email}"></td>
                <td class="align-middle text-center">
                    <span class="badge bg-accent" th:if="*{admin}">Admin</span>
                    <span class="badge bg-accent" th:unless="*{admin}">User</span>
                </td>
                <td class="align-middle text-center">
                    <span th:if="*{enabled}" class="text-success"><i class="fa-solid fa-check"></i></span>
                    <span th:unless="*{enabled}" class="text-danger"><i class="fa-solid fa-xmark"></i></span>
                </td>
                <td class="align-middle">
                    <div class="d-flex justify-content-center">
                        <a class="btn bg-faded-accent btn-icon me-2" href="javascript:void(0)"
                           data-bs-toggle="modal" th:attr="data-bs-target='#user-modal-' + *{id}">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                        <a class="btn bg-faded-danger btn-icon" href="javascript:void(0)"
                           th:if="*{email != #authentication.name}" th:onclick="removeUser([[*{id}]])">
                            <i class="fa-regular fa-circle-minus"></i>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="user-modal" data-bs-focus="false" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{admin.userPage.userInfo}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body tab-content py-4">
                    <form id="save-user-frm" class="save-user needs-validation" novalidate>
                        <div class="d-flex justify-content-end align-items-center mb-3">
                            <!-- Switch -->
                            <div class="form-check form-switch me-3">
                                <input type="checkbox" class="form-check-input" id="unp-user-enabled" name="enabled"
                                       checked>
                                <label class="form-check-label" for="unp-user-enabled"
                                       th:text="#{admin.userPage.activeAccount}"></label>
                            </div>
                            <!-- Switch -->
                            <div class="form-check form-switch">
                                <input type="checkbox" class="form-check-input" id="unp-user-is-admin" name="isAdmin">
                                <label class="form-check-label" for="unp-user-is-admin"
                                       th:text="#{admin.userPage.adminRights}"></label>
                            </div>
                        </div>
                        <!-- Drag and drop file upload -->
                        <label class="form-label" th:text="#{global.avatar}"></label>
                        <div class="file-drop-area mb-3">
                            <div class="file-drop-preview img-thumbnail rounded avatar-preview">
                                <img th:src="@{/assets/user/img/avatar/default.png}" alt="default">
                            </div>
                            <div class="file-drop-icon ci-cloud-upload"></div>
                            <span class="file-drop-message" th:text="#{admin.upload.message}"></span>
                            <input type="file" class="file-drop-input" id="unp-user-photo" name="photo">
                            <button type="button" class="file-drop-btn btn btn-primary btn-sm" id="upload-photo-btn"
                                    th:text="#{admin.upload.dropButton}"></button>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="unp-user-username" class="form-label" th:text="#{global.username}"></label>
                                <input class="form-control" type="text" id="unp-user-username" name="username" required>
                                <div class="invalid-tooltip" th:text="#{NotBlank.field}"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="unp-user-password" class="form-label" th:text="#{global.password}"></label>
                                <input class="form-control" type="password" id="unp-user-password" name="password"
                                       required>
                                <div class="invalid-tooltip" th:text="#{NotBlank.field}"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="unp-user-email" class="form-label" th:text="#{global.email}"></label>
                                <input class="form-control" type="email" id="unp-user-email" name="email" required>
                                <div class="invalid-tooltip" th:text="#{NotBlank.field}"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="unp-user-fullname" class="form-label" th:text="#{global.full_name}"></label>
                                <input class="form-control" type="text" id="unp-user-fullname" name="fullname" required>
                                <div class="invalid-tooltip" th:text="#{NotBlank.field}"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="unp-user-address" class="form-label" th:text="#{global.address}"></label>
                                <input class="form-control" type="text" id="unp-user-address" name="address" required>
                                <div class="invalid-tooltip" th:text="#{NotBlank.field}"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="unp-user-phone-number" class="form-label"
                                       th:text="#{global.phone_number}"></label>
                                <input class="form-control" type="text" id="unp-user-phone-number" name="phoneNumber"
                                       required>
                                <div class="invalid-tooltip" th:text="#{NotBlank.field}"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer btn-group">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"
                            th:text="#{global.close}"></button>
                    <button type="submit" class="btn btn-primary btn-sm btn-save-user-submit" id="btn-save-user"
                            form="save-user-frm" th:text="#{global.save}"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" th:id="'user-modal-'+${user.id}" data-bs-focus="false" data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1" role="dialog" th:each="user:${users}" th:object="${user}">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{admin.userPage.userInfo}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body tab-content py-4">
                    <form th:id="'save-user-frm-'+*{id}" class="save-user needs-validation" novalidate>
                        <input type="hidden" th:value="*{id}" name="id">
                        <div class="d-flex justify-content-end align-items-center mb-3">
                            <!-- Switch -->
                            <div class="form-check form-switch me-3">
                                <input type="checkbox" class="form-check-input" th:id="'unp-user-enabled-'+*{id}"
                                       name="enabled" th:checked="*{enabled}">
                                <label class="form-check-label" th:for="'unp-user-enabled-'+*{id}"
                                       th:text="#{admin.userPage.activeAccount}"></label>
                            </div>
                            <!-- Switch -->
                            <div class="form-check form-switch">
                                <input type="checkbox" class="form-check-input" th:id="'unp-user-is-admin-'+*{id}"
                                       name="isAdmin" th:checked="*{admin}">
                                <label class="form-check-label" th:for="'unp-user-is-admin-'+*{id}"
                                       th:text="#{admin.userPage.adminRights}"></label>
                            </div>
                        </div>
                        <!-- Drag and drop file upload -->
                        <label class="form-label" th:text="#{global.avatar}"></label>
                        <div class="file-drop-area mb-3">
                            <div class="file-drop-preview img-thumbnail rounded avatar-preview">
                                <img th:src="@{'/assets/user/img/avatar/'+*{photo}}" th:alt="*{photo}">
                            </div>
                            <div class="file-drop-icon ci-cloud-upload"></div>
                            <span class="file-drop-message" th:text="#{admin.upload.message}"></span>
                            <input type="file" class="file-drop-input" th:id="'unp-user-photo-'+*{id}" name="photo">
                            <button type="button" class="file-drop-btn btn btn-primary btn-sm"
                                    th:id="'upload-photo-btn-'+*{id}" th:text="#{admin.upload.dropButton}"></button>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label th:for="'unp-user-username-'+*{id}" th:text="#{global.username}"
                                       class="form-label"></label>
                                <input class="form-control" type="text" th:id="'unp-user-username-'+*{id}"
                                       name="username" th:value="${user.username}" disabled>
                                <div class="invalid-tooltip" th:text="#{NotBlank.field}"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label th:for="'unp-user-password-'+*{id}" class="form-label"
                                       th:text="#{global.password}"></label>
                                <input class="form-control" type="password" th:id="'unp-user-password-'+*{id}"
                                       name="password" th:value="*{password}" required>
                                <div class="invalid-tooltip" th:text="#{NotBlank.field}"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label th:for="'unp-user-email-'+*{id}" class="form-label"
                                       th:text="#{global.email}"></label>
                                <input class="form-control" type="email" th:id="'unp-user-email-'+*{id}" name="email"
                                       th:value="*{email}" disabled>
                                <div class="invalid-tooltip" th:text="#{NotBlank.field}"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label th:for="'unp-user-fullname-'+*{id}" class="form-label"
                                       th:text="#{global.full_name}"></label>
                                <input class="form-control" type="text" id="'unp-user-fullname-'+*{id}"
                                       name="fullname" th:value="*{fullname}" required>
                                <div class="invalid-tooltip" th:text="#{NotBlank.field}"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label th:for="'unp-user-address-'+*{id}" class="form-label"
                                       th:text="#{global.address}"></label>
                                <input class="form-control" type="text" th:id="'unp-user-address-'+*{id}" name="address"
                                       th:value="*{address}" required>
                                <div class="invalid-tooltip" th:text="#{NotBlank.field}"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label th:for="'unp-user-phone-number-'+*{id}" class="form-label"
                                       th:text="#{global.phone_number}"></label>
                                <input class="form-control" type="text" th:id="'unp-user-phone-number-'+*{id}"
                                       name="phoneNumber" th:value="*{phoneNumber}" required>
                                <div class="invalid-tooltip" th:text="#{NotBlank.field}"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer btn-group">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"
                            th:text="#{global.close}"></button>
                    <button type="submit" class="btn btn-primary btn-sm btn-save-user-submit"
                            th:id="'btn-save-user-'+*{id}" th:text="#{global.save}"
                            th:form="'save-user-frm-'+*{id}"></button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>