<!DOCTYPE html>
<html lang="en" th:fragment="main-fragment"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <!-- Title -->
    <title th:replace="${title}"></title>
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/user/img/icons/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/user/img/icons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/user/img/icons/favicon-16x16.png}">
    <link rel="manifest" th:href="@{https://cartzilla.createx.studio/site.webmanifest}">
    <link rel="mask-icon" color="#fe6a6a" th:href="@{https://cartzilla.createx.studio/safari-pinned-tab.svg}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <th:block th:replace="~{/layout/fragments::css-resources}"></th:block>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.11.1/ui-grid.min.css}">
    <link rel="stylesheet" th:href="@{/assets/admin/css/style.css}">
</head>
<body class="handheld-toolbar-enabled" ng-app="adminApp">
<input type="hidden" id="lang" th:value="${#locale.language}">
<main class="page-wrapper">
    <!-- Header -->
    <div th:replace="~{/layout/fragments::header-admin}"></div>
    <!-- Content -->
    <div class="container-fluid mb-5 pb-3">
        <div class="bg-light shadow-lg rounded-3 overflow-hidden">
            <div class="row g-0">
                <!-- Sidebar-->
                <aside class="col-lg-2" th:insert="~{/layout/fragments::aside-admin}"></aside>
                <!-- Content-->
                <section class="col-lg-10 p-4" th:insert="${content}?:~{}"></section>
            </div>
        </div>
    </div>
</main>
<!-- Script Resources-->
<div th:replace="~{/layout/fragments::script-resources}"></div>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.2/angular-route.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.11.1/ui-grid.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.8.2/angular-touch.min.js}"></script>
<script th:src="@{/assets/admin/js/main.js}"></script>
<script th:src="@{/assets/admin/js/app.js}"></script>
<!-- Script Custom -->
<th:block th:replace="${script}?:~{}"></th:block>
</body>
</html>