<!DOCTYPE html>
<html lang="en" th:fragment="main-fragment"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <!-- Title -->
    <title th:replace="${title}"></title>
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/user/img/icons/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/user/img/icons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/user/img/icons/favicon-16x16.png}">
    <link rel="manifest" th:href="@{https://cartzilla.createx.studio/site.webmanifest}">
    <link rel="mask-icon" color="#fe6a6a" th:href="@{https://cartzilla.createx.studio/safari-pinned-tab.svg}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <th:block th:replace="~{/layout/fragments::css-resources}"></th:block>
</head>
<body class="handheld-toolbar-enabled">
<input type="hidden" id="lang" th:value="${#locale.language}">
<main class="page-wrapper">
    <!-- Header -->
    <div th:replace="~{/layout/fragments::header-default}"></div>
    <!-- Content -->
    <div th:replace="${content}?:~{}"></div>
</main>
<!-- Footer -->
<div th:replace="~{/layout/fragments::footer-default}"></div>
<!-- Script Resources-->
<div th:replace="~{/layout/fragments::script-resources}"></div>
<!-- Main theme script-->
<script th:src="@{/assets/user/js/theme.min.js}"></script>
<script th:src="@{/assets/user/js/main.js}"></script>
<!-- Script Custom -->
<th:block th:replace="${script}?:~{}"></th:block>
</body>
</html>