<!-- Title-->
<div class="d-sm-flex flex-wrap justify-content-between align-items-center border-bottom pb-4 mb-4">
    <div class="d-flex align-items-center">
        <h2 class="h3 m-0 text-center text-sm-start" th:text="#{admin.productPage.title}"></h2>
        <span class="badge bg-faded-accent fs-sm text-body align-middle ms-2">{{products.length}}</span>
    </div>
    <div class="d-flex align-items-center">
        <div class="d-flex flex-nowrap align-items-center me-3">
            <label class="form-label fw-normal text-nowrap mb-0 me-2" for="category-selector"
                   th:text="#{global.category}"></label>
            <select class="form-select form-select-sm" id="category-selector" ng-model="categorySlug"
                    ng-change="getProducts()">
                <option value="">{{lang == 'vi' ? 'Tất cả' : 'All'}}</option>
                <option ng-repeat="category in categories" value="{{category.slug}}">
                    {{lang == 'vi' ? category.nameVI : category.nameEN}}
                </option>
            </select>
        </div>
        <div class="d-flex flex-nowrap align-items-center me-3">
            <label class="form-label fw-normal text-nowrap mb-0 me-2" for="brand-selector"
                   th:text="#{global.brand}"></label>
            <select class="form-select form-select-sm" id="brand-selector" ng-change="getProducts()"
                    ng-model="brandSlug">
                <option value="">{{lang == 'vi' ? 'Tất cả' : 'All'}}</option>
                <option ng-repeat="brand in brands" value="{{brand.slug}}">{{brand.name}}</option>
            </select>
        </div>
        <div data-bs-toggle="tooltip" data-bs-placement="top" th:title="#{admin.productPage.addProduct}">
            <a class="link-success" href="javascript:void(0)" ng-click="newProduct()"><i
                    class="fs-2 fa-regular fa-circle-plus"></i></a>
        </div>
    </div>
</div>
<!-- Color borders on tables -->
<table class="table table-sm table-borderless" id="product-table" datatable="ng" dt-options="dtOptions">
    <thead>
    <tr>
        <th class="align-middle" th:text="#{global.photo}"></th>
        <th class="align-middle" th:text="#{global.name}"></th>
        <th class="align-middle text-center" th:text="#{global.quantity}"></th>
        <th class="align-middle text-center" th:text="#{global.price}"></th>
        <th class="align-middle text-center" th:text="#{global.status}"></th>
        <th class="align-middle text-center" th:text="#{global.promotion}"></th>
        <th class="align-middle text-center"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="product in products track by $index">
        <td class="align-middle">
            <img class="img-fluid" src="{{product.image}}" alt="{{product.name}}" style="width: 80px; height: 80px"/>
        </td>
        <td class="align-middle">
            <a class="link-primary" href="/product-detail/{{product.slug}}">{{product.name}}</a>
        </td>
        <td class="align-middle text-center">{{product.quantity}}</td>
        <td class="align-middle text-center">{{product.price | number}}</td>
        <td class="align-middle text-center">
            <span ng-if="product.available == 0" th:text="#{global.in_stock}" class="badge bg-success"></span>
            <span ng-if="product.available == 1" th:text="#{global.out_of_stock}" class="badge bg-warning"></span>
            <span ng-if="product.available == 2" th:text="#{global.sold_out}" class="badge bg-danger"></span>
        </td>
        <td class="align-middle text-center fs-lg">
                <span class="badge bg-danger rounded-pill" ng-if="product.discountId">
                    {{getSaleOff(product.discountId)}}
                </span>
        </td>
        <td class="align-middle text-center fs-5">
            <div class="d-flex justify-content-center">
                <a class="btn bg-faded-accent btn-icon me-2" href="javascript:void(0)"
                   ng-click="editProduct(product, $index)">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a>
                <a class="btn bg-faded-danger btn-icon" href="javascript:void(0)"
                   ng-click="deleteProduct(product, $index)">
                    <i class="fa-regular fa-circle-minus"></i>
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="productModal" data-bs-focus="false" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{admin.productPage.editModal.title}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body tab-content py-4">
                <form id="product-form" name="productForm" method="post" novalidate>
                    <div class="d-sm-flex flex-wrap justify-content-end align-items-center pb-2">
                        <div class="d-flex flex-nowrap align-items-center py-2">
                            <label class="form-label fw-normal text-nowrap mb-0 me-2"
                                   for="unp-category" th:text="#{global.category}"></label>
                            <select class="form-select form-select-sm me-2" id="unp-category" name="categorySlug"
                                    ng-model="prod.categorySlug">
                                <option ng-repeat="category in categories" ng-value="category.slug">
                                    {{lang == 'vi' ? category.nameVI : category.nameEN}}
                                </option>
                            </select>
                        </div>
                        <div class="d-flex flex-nowrap align-items-center me-3">
                            <label class="form-label fw-normal text-nowrap mb-0 me-2"
                                   for="unp-brand" th:text="#{global.brand}"></label>
                            <select class="form-select form-select-sm" id="unp-brand" name="brandSlug"
                                    ng-model="prod.brandSlug">
                                <option ng-repeat="brand in brands" ng-value="brand.slug">{{brand.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 pb-2">
                        <label class="form-label" for="unp-product-name"
                               th:text="#{admin.productPage.productName}"></label>
                        <input class="form-control" type="text" id="unp-product-name" name="name" ng-model="prod.name"
                               ng-keyup="autoSlug(prod.name)" required>
                        <div ng-show="productForm.$submitted || productForm.name.$touched">
                            <div class="invalid-tooltip" ng-show="productForm.name.$error.required"
                                 th:text="#{NotBlank.field}"></div>
                        </div>
                    </div>
                    <div class="mb-3 pb-2">
                        <label class="form-label" for="unp-product-slug"
                               th:text="#{admin.productPage.productSlug}"></label>
                        <input class="form-control" type="text" id="unp-product-slug" name="slug" required
                               ng-model="prod.slug">
                        <div ng-show="productForm.$submitted || productForm.slug.$touched">
                            <div class="invalid-tooltip" ng-show="productForm.slug.$error.required"
                                 th:text="#{NotBlank.field}"></div>
                        </div>
                    </div>
                    <div class="file-drop-area mb-3 product-preview">
                        <div class="file-drop-preview rounded">
                            <img class="unp-product-img img-thumbnail product-img" alt="Product image"
                                 ng-src="{{prod.image ? prod.image : '/assets/user/img/plus_icon.png'}}">
                        </div>
                        <input type="hidden" name="image" class="img-url" ng-model="prod.image" ng-change="prod.image=this.value">
                        <button class="file-drop-btn btn btn-primary btn-sm mb-2" type="button"
                                th:text="#{admin.productPage.uploadProductPhoto.button}"></button>
                        <div class="form-text" th:text="#{admin.productPage.uploadProductPhoto.note}"></div>
                    </div>
                    <div class="row mb-3 justify-content-center">
                        <div class="col-md-2 product-preview" data-bs-toggle="tooltip"
                             th:title="#{admin.productPage.productPicture}">
                            <input type="hidden" name="imagePreview1" class="img-url" ng-model="prod.imagePreview1">
                            <img class="img-thumbnail product-img" alt="Product preview image 1"
                                 ng-src="{{prod.imagePreview1?prod.imagePreview1:'/assets/user/img/plus_icon.png'}}">
                        </div>
                        <div class="col-md-2 product-preview" data-bs-toggle="tooltip"
                             th:title="#{admin.productPage.productPicture}">
                            <input type="hidden" name="imagePreview2" class="img-url" ng-model="prod.imagePreview2">
                            <img class="img-thumbnail product-img" alt="Product preview image 2"
                                 ng-src="{{prod.imagePreview2?prod.imagePreview2:'/assets/user/img/plus_icon.png'}}">
                        </div>
                        <div class="col-md-2 product-preview" data-bs-toggle="tooltip"
                             th:title="#{admin.productPage.productPicture}">
                            <input type="hidden" name="imagePreview3" class="img-url" ng-model="prod.imagePreview3">
                            <img class="img-thumbnail product-img" alt="Product preview image 3"
                                 ng-src="{{prod.imagePreview3?prod.imagePreview3:'/assets/user/img/plus_icon.png'}}">
                        </div>
                        <div class="col-md-2 product-preview" data-bs-toggle="tooltip"
                             th:title="#{admin.productPage.productPicture}">
                            <input type="hidden" name="imagePreview4" class="img-url" ng-model="prod.imagePreview4">
                            <img class="img-thumbnail product-img" alt="Product preview image 4"
                                 ng-src="{{prod.imagePreview4?prod.imagePreview4:'/assets/user/img/plus_icon.png'}}">
                        </div>
                        <div class="col-md-4 product-video-preview" data-bs-toggle="tooltip"
                             id="unp-product-video-thumbnail" th:title="#{admin.productPage.productReviewVideo}">
                            <input type="hidden" name="videoPreview" class="video-id" ng-model="prod.videoPreview"
                                   ng-value="prod.videoPreview">
                            <img class="img-thumbnail product-video-thumbnail" alt="Video preview"
                                 ng-src="{{'https://img.youtube.com/vi/'+prod.videoPreview+'/maxresdefault.jpg'}}">
                        </div>
                    </div>
                    <div class="mb-3 pb-2">
                        <label class="form-label" for="unp-product-description"
                               th:text="#{admin.productPage.productDescription}"></label>
                        <textarea class="form-control" rows="4" id="unp-product-description" ng-model="prod.description"
                                  name="description" required></textarea>
                        <div ng-show="productForm.$submitted || productForm.description.$touched">
                            <div class="invalid-tooltip" ng-show="productForm.description.$error.required"
                                 th:text="#{NotBlank.field}"></div>
                        </div>
                    </div>
                    <div class="mb-3 pb-2">
                        <label class="form-label" for="unp-discount" th:text="#{global.promotion}"></label>
                        <select class="form-select" id="unp-discount" name="discountId" ng-model="prod.discountId">
                            <option ng-value="null" th:text="#{global.no_promotion}"></option>
                            <option ng-repeat="discount in discounts" ng-value="discount.id">
                                {{discount.name}} - {{discount.saleOff | number:0}}%
                            </option>
                        </select>
                    </div>
                    <div class="mb-3 pb-2">
                        <label class="form-label me-4" th:text="#{admin.productPage.productStatus}"></label>
                        <!-- Inline radio buttons -->
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="in-stock"
                                   ng-value="0" name="available" ng-model="prod.available">
                            <label class="form-check-label" for="in-stock"
                                   th:text="#{admin.productPage.inStock}"></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="out-of-stock"
                                   ng-value="1" name="available" ng-model="prod.available">
                            <label class="form-check-label" for="out-of-stock"
                                   th:text="#{admin.productPage.outOfStock}"></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="sold-out"
                                   ng-value="2" name="available" ng-model="prod.available">
                            <label class="form-check-label" for="sold-out"
                                   th:text="#{admin.productPage.soldOut}"></label>
                        </div>
                    </div>
                    <div class="row" id="product-available">
                        <div class="col-sm-6 mb-3">
                            <label class="form-label" for="unp-product-quantity"
                                   th:text="#{admin.productPage.productQuantity}"></label>
                            <div class="input-group"><span class="input-group-text"><i
                                    class="fa-solid fa-input-numeric"></i></span>
                                <input class="form-control" min="0" type="number" id="unp-product-quantity"
                                       ng-model="prod.quantity" name="quantity" required>
                            </div>
                            <div ng-show="productForm.$submitted || productForm.quantity.$touched">
                                <div class="invalid-tooltip" ng-show="productForm.quantity.$error.required"
                                     th:text="#{NotBlank.field}"></div>
                                <div class="invalid-tooltip" ng-show="productForm.quantity.$error.min"
                                     th:text="#{PositiveNumber.field}"></div>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label class="form-label" for="unp-product-price"
                                   th:text="#{admin.productPage.productPrice}"></label>
                            <div class="input-group"><span class="input-group-text"><i
                                    class="fa-solid fa-money-bill-simple"></i></span>
                                <input class="form-control number-input" type="number" name="price" min="0"
                                       id="unp-product-price" ng-model="prod.price" required>
                            </div>
                            <div ng-show="productForm.$submitted || productForm.price.$touched">
                                <div class="invalid-tooltip" ng-show="productForm.price.$error.required"
                                     th:text="#{NotBlank.field}"></div>
                                <div class="invalid-tooltip" ng-show="productForm.price.$error.min"
                                     th:text="#{PositiveNumber.field}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group w-100">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"
                                th:text="#{global.close}"></button>
                        <button type="button" class="btn btn-primary btn-sm" ng-disabled="productForm.$invalid"
                                th:text="#{global.add}" ng-show="index<0" ng-click="addProduct(prod)">
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" ng-disabled="productForm.$invalid"
                                th:text="#{global.save}" ng-show="index>=0" ng-click="updateProduct(prod)">
                        </button>
                    </div>
                </form>
                <!--<ul class="mt-3 list-group">
                    <li class="list-group-item" ng-repeat="(key, errors) in productForm.$error track by $index">
                        <strong>{{ key }}</strong> errors
                        <ul>
                            <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
                        </ul>
                    </li>
                </ul>-->
            </div>
        </div>
    </div>
</div>