<!-- Title-->
<div class="d-sm-flex flex-wrap justify-content-between align-items-center border-bottom pb-4 mb-4">
    <h2 class="h3 m-0 text-center text-sm-start" th:text="#{admin.productPage.title}"></h2>
    <div class="d-flex align-items-center">
        <div class="d-flex flex-nowrap align-items-center me-3">
            <label class="form-label fw-normal text-nowrap mb-0 me-2" for="category-selector"
                   th:text="#{global.category}"></label>
            <select class="form-select form-select-sm" id="category-selector" th:onchange="getProducts()">
                <option th:each="category:${categories}" th:selected="${category.slug}==${categorySlug}"
                        th:text="${#locale.language=='vi'}?${category.nameVI}:${category.nameEN}"
                        th:if="${category.products.size() > 0}" th:value="${category.slug}"></option>
            </select>
        </div>
        <div class="d-flex flex-nowrap align-items-center me-3">
            <label class="form-label fw-normal text-nowrap mb-0 me-2" for="brand-selector"
                   th:text="#{global.brand}"></label>
            <select class="form-select form-select-sm" id="brand-selector" onchange="getProducts()">
                <option th:value="${brand.slug}" th:each="brand:${brandsByCategory}"
                        th:selected="${brand.slug== brandSlug}" th:text="${brand.name}">

                </option>
            </select>
        </div>
        <div data-bs-toggle="tooltip" data-bs-placement="top" th:title="#{admin.productPage.addProduct}">
            <a class="link-success" href="javascript:void(0)" onclick="newCategory()"
               data-bs-toggle="modal" data-bs-target="#productDetailModal"><i
                    class="fs-2 fa-regular fa-circle-plus"></i></a>
        </div>
    </div>
</div>