<!-- Modal -->
<div class="modal fade" id="user-modal" data-bs-focus="false" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{admin.userPage.userInfo}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body tab-content py-4">
                <form id="user-form" name="userForm" novalidate>
                    <!-- Drag and drop file upload -->
                    <label class="form-label" th:text="#{global.avatar}"></label>
                    <div class="file-drop-area mb-3">
                        <div class="file-drop-preview img-thumbnail rounded avatar-preview">
                            <img ng-src="/assets/user/img/avatar/{{user.photo?user.photo:'default.png'}}" alt="default">
                        </div>
                        <div class="file-drop-icon ci-cloud-upload"></div>
                        <span class="file-drop-message" th:text="#{admin.upload.message}"></span>
                        <input type="file" class="file-drop-input" id="unp-user-photo" name="photoFile"
                               accept="image/**"
                               file-model="user.photoFile">
                        <button type="button" class="file-drop-btn btn btn-primary btn-sm" id="upload-photo-btn"
                                th:text="#{admin.upload.dropButton}"></button>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="unp-user-username" class="form-label" th:text="#{global.username}"></label>
                            <input class="form-control" type="text" id="unp-user-username" name="username"
                                   ng-model="user.username" ng-disabled="index>=0" required>
                            <div ng-show="userForm.$submitted || userForm.username.$touched">
                                <div class="invalid-tooltip" ng-show="userForm.username.$error.required"
                                     th:text="#{NotBlank.field}"></div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="unp-user-password" class="form-label" th:text="#{global.password}"></label>
                            <input class="form-control" type="password" id="unp-user-password" name="password"
                                   ng-model="user.password" required>
                            <div ng-show="userForm.$submitted || userForm.password.$touched">
                                <div class="invalid-tooltip" ng-show="userForm.password.$error.required"
                                     th:text="#{NotBlank.field}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="unp-user-email" class="form-label" th:text="#{global.email}"></label>
                            <input class="form-control" type="email" id="unp-user-email" name="email"
                                   ng-model="user.email" ng-disabled="index>=0" required>
                            <div ng-show="userForm.$submitted || userForm.email.$touched">
                                <div class="invalid-tooltip" ng-show="userForm.email.$error.required"
                                     th:text="#{NotBlank.field}"></div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="unp-user-fullname" class="form-label" th:text="#{global.full_name}"></label>
                            <input class="form-control" type="text" id="unp-user-fullname" name="fullname"
                                   ng-model="user.fullname" required>
                            <div ng-show="userForm.$submitted || userForm.fullname.$touched">
                                <div class="invalid-tooltip" ng-show="userForm.fullname.$error.required"
                                     th:text="#{NotBlank.field}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="unp-user-address" class="form-label" th:text="#{global.address}"></label>
                            <input class="form-control" type="text" id="unp-user-address" name="address"
                                   ng-model="user.address" required>
                            <div ng-show="userForm.$submitted || userForm.address.$touched">
                                <div class="invalid-tooltip" ng-show="userForm.address.$error.required"
                                     th:text="#{NotBlank.field}"></div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="unp-user-phone-number" class="form-label"
                                   th:text="#{global.phone_number}"></label>
                            <input class="form-control" type="text" id="unp-user-phone-number" name="phoneNumber"
                                   ng-model="user.phoneNumber" required>
                            <div ng-show="userForm.$submitted || userForm.phoneNumber.$touched">
                                <div class="invalid-tooltip" ng-show="userForm.phoneNumber.$error.required"
                                     th:text="#{NotBlank.field}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group w-100">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"
                                th:text="#{global.close}"></button>
                        <button type="button" class="btn btn-primary btn-sm btn-save-user-submit"
                                ng-disabled="userForm.$invalid" ng-click="addUser(user)" ng-if="index<0"
                                th:text="#{global.add}"></button>
                        <button type="button" class="btn btn-primary btn-sm btn-save-user-submit"
                                ng-disabled="userForm.$invalid" ng-click="updateUser(user)" ng-if="index>=0"
                                th:text="#{global.save}"></button>
                    </div>
                </form>
                <!--<ul class="mt-3 list-group">
                    <li class="list-group-item" ng-repeat="(key, errors) in userForm.$error track by $index">
                        <strong>{{ key }}</strong> errors
                        <ul>
                            <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
                        </ul>
                    </li>
                </ul>-->
            </div>
        </div>
    </div>
</div>
<!-- Title-->
<div class="d-sm-flex flex-wrap justify-content-between align-items-center border-bottom pb-4 mb-4">
    <h2 class="h3 m-0 text-center text-sm-start">
        <span th:text="#{admin.userPage.title}"></span><span
            class="badge bg-faded-accent fs-sm text-body align-middle ms-2">{{users.length - 1}}</span>
    </h2>
    <div data-bs-toggle="tooltip" data-bs-placement="left" th:title="#{admin.userPage.add}">
        <a class="link-success" href="javascript:void(0)" ng-click="newUser()">
            <i class="fs-2 fa-regular fa-circle-plus"></i>
        </a>
    </div>
</div>
<!-- Table -->
<table class="table table-sm" id="user-manager-table" datatable="ng" dt-options="dtOptions">
    <thead>
    <tr>
        <th class="align-middle" th:text="#{global.avatar}"></th>
        <th class="align-middle" th:text="#{global.full_name}"></th>
        <th class="align-middle" th:text="#{global.username}"></th>
        <th class="align-middle" th:text="#{global.email}"></th>
        <th class="align-middle" th:text="#{global.createDate}"></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users track by $index" ng-hide="user.email === emailCurrentUser">
        <td class="align-middle">
            <img class="img-fluid rounded-circle" alt="{{user.username}}"
                 ng-src="/assets/user/img/avatar/{{user.photo ? user.photo : 'default.png'}}"
                 style="width: 70px">
        </td>
        <td class="align-middle">{{user.fullname}}</td>
        <td class="align-middle">{{user.username}}</td>
        <td class="align-middle">{{user.email}}</td>
        <td class="align-middle">{{user.createdDate | date: 'dd/MM/yyyy'}}</td>
        <td class="align-middle">
            <div class="d-flex justify-content-center">
                <a class="btn bg-faded-accent btn-icon me-2" href="javascript:void(0)"
                   ng-click="editUser(user, $index)">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a>
                <a class="btn bg-faded-danger btn-icon" href="javascript:void(0)"
                   ng-hide="user.email===emailCurrentUser" ng-click=" deleteUser(user, $index)">
                    <i class="fa-regular fa-circle-minus"></i>
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
