<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/index::main-fragment(title=~{::title}, content=~{::#content})}">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<div class="container py-4 py-lg-5 my-4" id="content">
    <div class="row justify-content-center px-3">
        <div class="col-md-6 pt-4 mt-3 mt-md-0 shadow rounded pb-3">
            <h2 class="h4 mb-3" th:text="#{global.change_password}"></h2>
            <form th:action="@{/change-password}" method="post" th:object="${changePass}">
                <div th:if="${success != null}" th:text="${success}" class="alert alert-success py-2"
                     role="alert"></div>
                <div th:if="${error != null}" th:text="${error}" class="alert alert-danger py-2" role="alert"></div>
                <div class="row gx-4 gy-3">
                    <div class="col-sm-12">
                        <label class="form-label" for="oldPassword" th:text="#{home.changePassFrm.field1}"></label>
                        <input class="form-control" type="password" id="oldPassword" th:field="*{oldPassword}"/>
                        <span class="invalid-feedback" th:if="${#fields.hasErrors('oldPassword')}"
                              th:errors="*{oldPassword}"></span>
                        <div th:if="${ExistsPassword != null}" th:text="${ExistsPassword}"
                             class="invalid-feedback"></div>
                    </div>
                    <div class="col-sm-12">
                        <label class="form-label" for="newPassword" th:text="#{home.changePassFrm.field2}"></label>
                        <input class="form-control" type="password" id="newPassword" th:field="*{newPassword}"/>
                        <span class="invalid-feedback" th:if="${#fields.hasErrors('newPassword')}"
                              th:errors="*{newPassword}"></span>
                        <div th:if="${NotExistsPassword != null}" th:text="${NotExistsPassword}"
                             class="invalid-feedback"></div>
                    </div>
                    <div class="col-sm-12">
                        <label class="form-label" for="newPasswordConfirm"
                               th:text="#{home.changePassFrm.field3}"></label>
                        <input class="form-control" type="password" id="newPasswordConfirm" th:field="*{newPasswordConfirm}"/>
                        <span class="invalid-feedback" th:if="${#fields.hasErrors('newPasswordConfirm')}"
                              th:errors="*{newPasswordConfirm}"></span>
                        <div th:if="${PasswordMatches != null}" th:text="${PasswordMatches}"
                             class="invalid-feedback"></div>
                    </div>
                    <div class="col-12 text-end">
                        <button class="btn btn-primary" type="submit">
                            <i class="ci-user me-2 ms-n1"></i>
                            <span th:text="#{global.change_password}"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>