<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/index::main-fragment(title=~{::title}, content=~{::#content})}">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
<div class="container py-4 py-lg-5 my-4" id="content">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <h2 class="h3 mb-4" th:text="#{home.forgot_pass_frm.title}"></h2>
            <p class="fs-md" th:text="#{home.forgot_pass_frm.tutorial}"></p>
            <ol class="list-unstyled fs-md">
                <li><span class="text-primary me-2">1.</span>[[#{home.forgot_pass_frm.tutorial1}]]</li>
                <li><span class="text-primary me-2">2.</span>[[#{home.forgot_pass_frm.tutorial2}]]</li>
                <li>
                    <span class="text-primary me-2">3.</span>[[#{home.forgot_pass_frm.tutorial3}]]
                </li>
            </ol>
            <div th:if="${message != null}" class="fs-md alert alert-success d-flex" role="alert">
                <div class="alert-icon">
                    <i class="ci-check-circle"></i>
                </div>
                <div th:text="${message}"></div>
            </div>
            <div th:if="${error != null}" class="fs-md alert alert-danger d-flex" role="alert">
                <div class="alert-icon">
                    <i class="ci-close-circle"></i>
                </div>
                <div th:text="${error}"></div>
            </div>
            <div class="card py-2 mt-4">
                <form class="card-body" th:action="@{/forgot-password}" method="post" th:object="${forgotPass}">
                    <div class="mb-3">
                        <label class="form-label" for="email" th:text="#{home.forgot_pass_frm.email_field}"></label>
                        <input class="form-control" id="email" type="email" th:field="*{email}"/>
                        <span class="invalid-feedback" th:if="${#fields.hasErrors('email')}"
                              th:errors="*{email}"></span>
                    </div>
                    <button class="btn btn-primary" type="submit" value="send"
                            th:text="#{home.forgot_pass_frm.button}"></button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>