<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/index::main-fragment(title=~{::title}, content=~{::#content})}">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
<div class="container py-4 py-lg-5 my-4" id="content">
    <div class="row justify-content-center px-3">
        <div class="col-md-6 pt-4 mt-3 mt-md-0 shadow rounded pb-3">
            <h2 class="h4 mb-3" th:text="#{global.reset_password}"></h2>
            <div th:if="${error != null}" class="alert alert-danger d-flex" role="alert">
                <div class="alert-icon">
                    <i class="ci-close-circle"></i>
                </div>
                <div th:text="${error}"></div>
            </div>
            <div th:if="${error == null}">
                <p class="fs-sm text-muted mb-4" th:text="#{home.reset_password_frm.note}"></p>
                <form th:action="@{/reset-password}" method="post" th:object="${resetPass}">
                    <div th:if="${success != null}" th:text="${success}" class="alert alert-success py-2"
                         role="alert"></div>
                    <div class="row gx-4 gy-3">
                        <div class="col-sm-6">
                            <label class="form-label" for="password" th:text="#{home.register_form.field5}"></label>
                            <input class="form-control" type="password" id="password" th:field="*{password}"/>
                            <span class="invalid-feedback" th:errors="*{password}"
                                  th:if="${#fields.hasErrors('password')}"></span>
                            <div th:if="${NotExistsPassword != null}" class="invalid-feedback"
                                 th:text="${NotExistsPassword}">/div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="passwordConfirm"
                                   th:text="#{home.register_form.field6}"></label>
                            <input class="form-control" type="password" id="passwordConfirm"
                                   th:field="*{passwordConfirm}"/>
                            <span class="invalid-feedback" th:errors="*{passwordConfirm}"
                                  th:if="${#fields.hasErrors('passwordConfirm')}"></span>
                            <div th:if="${PasswordMatches != null}" class="invalid-feedback"
                                 th:text="${PasswordMatches}"></div>
                        </div>
                        <input type="hidden" th:field="*{token}"/>
                        <div class="col-12 text-end">
                            <button class="btn btn-primary" type="submit">
                                <i class="ci-user me-2 ms-n1"></i><span th:text="#{global.change_password}"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>