<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/index::main-fragment(title=~{::title}, content=~{::#content}, script=~{::script})}">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<div id="content">
    <div class="page-title-overlap bg-dark pt-4">
        <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
            <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                        <li class="breadcrumb-item">
                            <a class="text-nowrap" th:href="@{/home}"><i class="ci-home"></i><span
                                    th:text="#{global.home}"></span></a>
                        </li>
                        <li class="breadcrumb-item text-nowrap active" aria-current="page">
                            <span th:if="${#locale.language == 'vi'}" th:text="${category.nameVI}"></span>
                            <span th:unless="${#locale.language == 'vi'}" th:text="${category.nameEN}"></span>
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
                <h1 class="h3 text-light mb-0">
                    <span th:if="${#locale.language == 'vi'}" th:text="${category.nameVI}"></span>
                    <span th:unless="${#locale.language == 'vi'}" th:text="${category.nameEN}"></span>
                </h1>
            </div>
        </div>
    </div>
    <div class="container pb-5 mb-2 mb-md-4">
        <div class="row">
            <!-- Sidebar-->
            <aside class="col-lg-3">
                <!-- Sidebar-->
                <div class="offcanvas offcanvas-collapse bg-white w-100 rounded-3 shadow-lg py-1" id="shop-sidebar"
                     style="max-width: 22rem;">
                    <div class="offcanvas-header align-items-center shadow-sm">
                        <h2 class="h5 mb-0" th:text="#{global.filters}"></h2>
                        <button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body py-grid-gutter px-lg-grid-gutter">
                        <!-- Categories-->
                        <div class="widget widget-categories ">
                            <h3 class="widget-title" th:text="#{global.categories}"></h3>
                            <div class="widget widget-links widget-filter">
                                <div class="input-group input-group-sm mb-2">
                                    <input class="widget-filter-search form-control rounded-end" type="text"
                                           th:placeholder="#{global.search}">
                                    <i class="ci-search position-absolute top-50 end-0 translate-middle-y fs-sm me-3"></i>
                                </div>
                                <ul class="widget-list widget-filter-list pt-1" data-simplebar
                                    data-simplebar-auto-hide="false">
                                    <li class="widget-list-item widget-filter-item"
                                        th:each="category:${categories}" th:object="${category}"
                                        th:if="${category.products.size() > 0}">
                                        <a class="widget-list-link d-flex justify-content-between align-items-center"
                                           th:href="|/product-list/*{slug}|">
                                            <span class="widget-filter-item-text" th:if="${#locale.language == 'vi'}"
                                                  th:text="*{nameVI}"></span>
                                            <span class="widget-filter-item-text"
                                                  th:unless="${#locale.language == 'vi'}" th:text="*{nameEN}"></span>
                                            <span class="fs-xs text-muted ms-3" th:text="*{products.size()}"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Filter by Brand-->
                        <div th:if="${brands.size() != 0}" class="widget widget-categories mt-4 pt-4 mb-4 border-top">
                            <h3 class="widget-title" th:text="#{global.brand}"></h3>
                            <div class="widget widget-links widget-filter">
                                <div class="input-group input-group-sm mb-2">
                                    <input class="widget-filter-search form-control rounded-end" type="text"
                                           th:placeholder="#{global.search}">
                                    <i class="ci-search position-absolute top-50 end-0 translate-middle-y fs-sm me-3"></i>
                                </div>
                                <ul class="widget-list widget-filter-list pt-1" data-simplebar
                                    data-simplebar-auto-hide="false">
                                    <li class="widget-list-item widget-filter-item"
                                        th:each="brand:${brands}" th:object="${brand}">
                                        <a class="widget-list-link d-flex justify-content-between align-items-center"
                                           th:href="|/product-list/${category.slug}?brand=*{slug}|">
                                            <span class="widget-filter-item-text" th:text="*{name}"></span>
                                            <span class="fs-xs text-muted ms-3"
                                                  th:text="${brand.getNumberBrandByCategory(category.id)}"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <!-- Content  -->
            <section class="col-lg-9">
                <!-- Toolbar-->
                <div class="d-flex justify-content-center justify-content-sm-between align-items-center pt-2 pb-4 pb-sm-5">
                    <div class="d-flex flex-wrap">
                        <div class="d-flex align-items-center flex-nowrap me-3 me-sm-4 pb-3">
                            <label class="text-light opacity-75 text-nowrap fs-sm me-2 d-none d-sm-block" for="sorting">
                                [[#{global.sort_by}]]
                            </label>
                            <select class="form-select" id="sorting" th:attr="data-action=${category.slug}">
                                <option th:selected="${direction=='ASC'}" value="ASC">A - Z</option>
                                <option th:selected="${direction=='DESC'}" value="DESC">Z - A</option>
                            </select>
                            <span class="fs-sm text-light opacity-75 text-nowrap ms-2 d-none d-md-block">
                            <span th:text="#{global.of}+' '+${productPage.totalElements}+' '+#{global.products}"></span>
                        </span>
                        </div>
                    </div>
                    <div class="d-flex pb-3">
                        <div th:onclick="changePageNumber([[${productPage.number - 1}]], [[${category.slug}]])"
                             th:unless="${productPage.number - 1 < 0}">
                            <a class="nav-link-style nav-link-light me-3" href="javascript:void(0)">
                                <i class="ci-arrow-left"></i>
                            </a>
                        </div>
                        <span class="fs-md text-light"
                              th:text="${productPage.number+1} + ' / ' + ${productPage.totalPages}"></span>
                        <div th:if="${productPage.number + 1 < productPage.totalPages}"
                             th:onclick="changePageNumber([[${productPage.number + 1}]], [[${category.slug}]])">
                            <a class="nav-link-style nav-link-light ms-3"
                               href="javascript:void(0)">
                                <i class="ci-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div th:if="${productPage.totalPages != 0}">
                    <!-- Products grid-->
                    <div class="row mx-n2">
                        <!-- Product-->
                        <div th:each="item:${productPage.content}" th:object="${item}"
                             class="col-md-4 col-sm-6 px-2 mb-4">
                            <div class="card product-card">
                                <span th:if="*{discount != null}" class="badge bg-danger badge-shadow">
                                    <span th:if="${#locale.language == 'vi'}"
                                          th:text="*{'Giảm ' + #numbers.formatInteger(discount.saleOff, 0, 'NONE') + '%'}">
                                    </span>
                                    <span th:unless="${#locale.language == 'vi'}"
                                          th:text="*{#numbers.formatInteger(discount.saleOff, 0, 'NONE') + '% OFF'}">
                                    </span>
                                </span>
                                <div class="square-size-by-length d-flex align-items-center">
                                    <a class="card-img-top d-block overflow-hidden"
                                       th:href="@{|/product-detail/*{slug}|}">
                                        <img th:src="*{image}" th:alt="*{name}" class="p-5">
                                    </a>
                                </div>
                                <div class="card-body py-2">
                                    <a class="product-meta d-block fs-xs pb-1" href="#">
                                        <span th:if="${#locale.language == 'vi'}" th:text="*{category.nameVI}"></span>
                                        <span th:unless="${#locale.language == 'vi'}"
                                              th:text="*{category.nameEN}"></span>
                                    </a>
                                    <h3 class="product-title fs-sm">
                                        <a th:href="|/product-detail/*{slug}|" th:text="*{name}"></a>
                                    </h3>
                                    <div class="d-flex justify-content-between">
                                        <div th:if="${item.discount != null}">
                                            <div class="product-price"
                                                 th:with="money = *{price - (price * discount.saleOff / 100)}">
                                                <span class="text-accent"
                                                      th:text="${#numbers.formatDecimal(money,0,'POINT',0,'NONE')}+'₫'"></span>
                                                <del class="fs-sm text-muted">
                                                    <small th:text="*{#numbers.formatDecimal(price,0,'POINT',0,'NONE')}+'₫'"></small>
                                                </del>
                                            </div>
                                        </div>
                                        <div th:unless="${item.discount != null}">
                                            <span class="text-accent"
                                                  th:text="*{#numbers.formatDecimal(price,0,'POINT',0,'NONE')}+'₫'"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body card-body-hidden">
                                    <button class="btn btn-primary btn-sm d-block w-100 mb-2" type="button"
                                            th:onclick="addToCart([[${item.id}]])">
                                        <i class="ci-cart fs-sm me-1"></i>
                                        <span th:text="#{global.add_to_cart}"></span>
                                    </button>
                                </div>
                            </div>
                            <hr class="d-sm-none">
                        </div>
                    </div>
                    <hr class="my-3">
                    <!-- Pagination-->
                    <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item"
                                th:unless="${productPage.number - 1 < 0}"
                                th:onclick="changePageNumber([[${productPage.number - 1}]], [[${category.slug}]])">
                                <a class="page-link" href="javascript:void(0)">
                                    <i class="ci-arrow-left me-2"></i>
                                    <span th:text="#{global.prev}"></span>
                                </a>
                            </li>
                        </ul>
                        <ul class="pagination">
                            <li class="page-item d-sm-none">
                                <span class="page-link page-link-static"
                                      th:text="${productPage.number+1} + ' / ' + ${productPage.totalPages}"></span>
                            </li>
                            <li th:each="item:${#numbers.sequence(0, productPage.totalPages - 1)}"
                                class="page-item d-none d-sm-block"
                                th:classappend="${productPage.number == item ? 'active' : ''}"
                                th:onclick="changePageNumber([[${item}]],[[${category.slug}]])">
                                <a class="page-link" href="javascript:void(0)" th:text="${item + 1}"></a>
                            </li>
                        </ul>
                        <ul class="pagination">
                            <li class="page-item" th:if="${productPage.number + 1 < productPage.totalPages}"
                                th:onclick="changePageNumber([[${productPage.number + 1}]],[[${category.slug}]])">
                                <a class="page-link" href="javascript:void(0)"
                                   aria-label="Next">
                                    <span th:text="#{global.next}"></span><i class="ci-arrow-right ms-2"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    // document.addEventListener("DOMContentLoaded", function (event) {
    //     var scrollpos = sessionStorage.getItem('scrollpos');
    //     if (scrollpos) window.scrollTo(0, scrollpos);
    //     sessionStorage.removeItem('scrollpos');
    // });
    //
    // window.onbeforeunload = function (e) {
    //     sessionStorage.setItem('scrollpos', window.scrollY);
    // };
</script>
</body>
</html>