<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/index::main-fragment(title=~{::title}, content=~{::#content}, script=~{::script})}">
<head>
    <meta charset="UTF-8">
    <title>Product List </title>
</head>
<body>
<div id="content"
     th:with="categoryName=${#locale.language=='vi'}?${product.category.nameVI}:${product.category.nameEN}">
    <div class="page-title-overlap bg-dark pt-4">
        <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
            <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                        <li class="breadcrumb-item">
                            <a class="text-nowrap" th:href="@{/home}"><i class="ci-home"></i><span
                                    th:text="#{global.home}"></span></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-nowrap" th:href="@{|/product-list/${product.category.slug}|}"
                               th:text="${categoryName}"></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-nowrap"
                               th:href="@{|/product-list/${product.category.slug}?brand=${product.brand.slug}|}"
                               th:text="${product.name}"></a>
                        </li>
                        <!--<li class="breadcrumb-item text-nowrap active" aria-current="page">${product.name}</li>-->
                    </ol>
                </nav>
            </div>
            <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
                <h1 class="h3 text-light mb-0" th:text="${product.name}"></h1>
            </div>
        </div>
    </div>
</div>
<script>
</script>
</body>
</html>